<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="mainDecorator"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page d'administration - Modifier les produits et frais</title>

    <style type="text/css">

    .productErrorArea {
        color: #b70000;
        font-weight: bolder;
        padding: 1em;
    }

    .expenseErrorArea {
        color: #b70000;
        font-weight: bolder;
        padding: 1em;
    }

    .productHeader {
        margin: 0.2em;
        font-weight: bolder;
    }

    .productRow {
        margin: 0.2em;
    }

    .productRow input {
        width: 90%;
    }

    .productRow div {
        padding: 0.7em;
    }





    </style>

    <script type="text/javascript" th:src="@{/js/admin.js}"></script>

</head>
<body>
<div layout:fragment="content">

    <section id="courses" class="section-padding">

        <div class="container">

            <div class="row">
                <div class="text-left col-md-offset-1">
                    <a th:href="@{${mappings.get('ADMIN_ROOT')}}">
                        &lt;&lt;&lt; Revenir à la page d'administration
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="header-section text-center">
                    <h2>Modifier les produits et frais</h2>
                    <hr class="bottom-line"/>
                </div>
            </div>

        </div>


        <a name="modifyProducts"/>
        <h3 class="text-center">Importer des produits</h3>


        <div class="container">
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4 text-center">
                    Tout d'abord, téléchargez la liste des produits:
                    <a th:href="@{${mappings.get('ADMIN_DOWNLOAD_PRODUCTS')}}">
                        Télécharger la liste des produits
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-4 col-sm-4 text-center">
                    Ensuite modifiez la, puis enregistrez la sur le site:
                    <form th:action="@{${mappings.get('ADMIN_UPLOAD_PRODUCTS')}}"
                          method="POST" enctype="multipart/form-data">
                        <input type="file" name="productsList"/>
                        <input type="submit"/>
                    </form>
                </div>
            </div>
        </div>

        <a name="modifyProducts"/>
        <h3 class="text-center">Modifier les produits</h3>

        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10 text-center">
                    <div class="productErrorArea">&nbsp;</div>
                </div>
            </div>

            <div class="row productHeader">
                <div class="col-sm-offset-1 col-sm-1">
                    ID
                </div>

                <div class="col-sm-2">
                    Nom
                </div>

                <div class="col-sm-2">
                    Quantité disponible
                </div>

                <div class="col-sm-2">
                    Prix unitaire
                </div>

            </div>

            <div class="row productRow text-center" th:if="${#lists.size(products) lt 1}">
                <i>Aucun produit à afficher</i>
            </div>

            <div class="row productRow" th:each="product : ${products}" th:if="${#lists.size(products) gt 0}">
                <form method="get" th:id="${'productForm' + product.getId()}"
                      th:action="@{${mappings.get('ADMIN_ACTION')}}">

                    <!-- product id -->
                    <div class="col-sm-offset-1 col-sm-1" th:text="${product.getId()}">
                        11
                    </div>

                    <!-- product name -->
                    <div class="col-sm-2" th:text="${product.getName()}">
                        Safran
                    </div>

                    <!-- quantity available -->
                    <div class="col-sm-2">
                        <input name="quantity" type="text" th:value="${product.getQuantityAvailable()}"/>
                    </div>

                    <!-- unit price -->
                    <div class="col-sm-2">
                        <input name="price" type="text" th:value="${product.getPrice()}"/>
                    </div>

                    <!-- modify button -->
                    <div class="col-sm-2">
                        <input type="hidden" name="action" value="product"/>
                        <input type="hidden" name="id" th:value="${product.getId()}"/>
                        <input type="button" value="Modifier"
                               th:onClick="${'App.checkProductAndSendForm(' + product.getId() + ')'}"/>
                    </div>

                </form>
            </div>

        </div>

        <a name="modifyExpenses"/>
        <h3 class="text-center">Modifier les frais</h3>

        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10 text-center">
                    <div class="expenseErrorArea">&nbsp;</div>
                </div>
            </div>

            <div class="row productRow text-center" th:if="${#lists.size(expenses) lt 1}">
                <i>Aucun frais à afficher</i>
            </div>

            <div class="row productHeader" th:if="${#lists.size(expenses) gt 0}">
                <div class="col-sm-offset-1 col-sm-1">
                    ID
                </div>

                <div class="col-sm-4">
                    Nom
                </div>

                <div class="col-sm-2">
                    Valeur
                </div>

            </div>

            <div class="row productRow" th:each="expense : ${expenses}" th:if="${#lists.size(expenses) gt 0}">
                <form method="get" th:id="${'expenseForm' + expense.getId()}"
                      th:action="@{${mappings.get('ADMIN_ACTION')}}">

                    <!-- expense id -->
                    <div class="col-sm-offset-1 col-sm-1" th:text="${expense.getId()}">
                        11
                    </div>

                    <!-- expense name -->
                    <div class="col-sm-4">
                        <input name="name" type="text" th:value="${expense.getName()}"/>
                    </div>

                    <!-- expense price -->
                    <div class="col-sm-2">
                        <input name="value" type="text" th:value="${expense.getValue()}"/>
                    </div>

                    <!-- modify button -->
                    <div class="col-sm-2">
                        <input type="hidden" name="action" value="expense"/>
                        <input type="hidden" name="id" th:value="${expense.getId()}"/>
                        <input type="button" value="Modifier"
                               th:onClick="${'App.checkExpenseAndSendForm(' + expense.getId() + ')'}"/>
                    </div>

                </form>
            </div>

        </div>

    </section>

</div>
</body>
</html>