<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="mainDecorator"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page d'administration</title>

    <link th:href="@{/css/admin.css}" type="text/css" rel="stylesheet"/>

    <style>

    .orderWarn {
        font-weight: bolder;
        text-align: center;
        width: 70%;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    </style>

    <script type="text/javascript" th:src="@{/js/admin.js}"></script>

</head>
<body>
<div layout:fragment="content">

    <section id="courses" class="section-padding">

        <div class="container">

            <div class="row">
                <div class="text-left col-md-offset-1">
                    <a th:href="@{${mappings.get('ADMIN_ROOT')}}">
                        &lt;&lt;&lt; Revenir à la page d'administration
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="header-section text-center">
                    <h2>Détail de la commande</h2>
                    <hr class="bottom-line"/>
                </div>
            </div>

            <div>
                <div class="orderWarn">
                    Attention: avant d'envoyer une commande vérifiez toujours la bonne
                    réception du paiement, même si il apparait confirmé ci-dessous.
                </div>
            </div>

        </div>

        <div class="order row">
            <div class="col-md-offset-1 col-md-10">
                <div th:replace="fragments/orders :: orderComplete(order=${order}, basket=${basket})">
                    Orders processed
                </div>
            </div>
        </div>

    </section>

</div>
</body>
</html>