target/
!.mvn/wrapper/maven-wrapper.jar

playbooks/target.yml
setenv-prod.sh

bower_components
*.swp
.mvn
.scannerwork
tomcat-logs
node_modules
db-backup
rsync.sh

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
