target/
!.mvn/wrapper/maven-wrapper.jar

ansible/inventory.cfg
setenv-prod.sh
*.retry

bower_components
*.swpro
.scannerwork
tomcat-logs
node_modules
db-backup
rsync.sh
pdf-bills

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
