<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Administration</title>
</head>
<body>
<div th:fragment="adminOrders" class="container">

    <div class="order row text-center" th:if="${#lists.size(orders) lt 1}">
        <i>Aucune commande à afficher.</i>
    </div>

    <div class="order row" th:each="order, iter : ${orders}" th:if="${#lists.size(orders) gt 0}">

        <div class="col-md-offset-1 col-md-10">

            <table class="orderTable">
                <tr>
                    <td class="orderHeader" colspan="2" th:inline="text">
                        Commande n°[[${order.getId()}]], passée le [[${#dates.format(order.getDate(), 'dd/MM/yyyy à HH:mm')}]]
                    </td>
                </tr>

                <tr>
                    <td class="orderLabel">Total:</td>
                    <td th:text="${order.getTotal() + ' €'}">30 €</td>
                </tr>

                <tr>
                    <td class="orderLabel">Commande:</td>
                    <td>
                        <li th:each="orderPart : ${baskets.get(iter.index)}">
                            <span th:text="${orderPart[0].getName()}">Safran 1g</span>
                            &nbsp;
                            <span th:text="${orderPart[0].getPrice() + ' €'}">15€</span>
                            &nbsp;x&nbsp;
                            <span th:text="${orderPart[1]}">10</span>
                        </li>
                    </td>
                </tr>

                <tr><td>&nbsp;</td></tr>

                <tr>
                    <td class="orderLabel">Nom et prénom:</td>
                    <td th:text="${order.getFirstName() + ' ' + order.getLastName()}">Jules Jean</td>
                </tr>


                <tr>
                    <td class="orderLabel">Téléphone:</td>
                    <td th:text="${order.getPhonenumber()}">0425363698</td>
                </tr>


                <tr>
                    <td class="orderLabel">Adresse de facturation:</td>
                    <td th:text="${order.getAddress()}">14 rue de la Joconde</td>
                </tr>

                <tr>
                    <td class="orderLabel">Adresse de livraison:</td>
                    <td th:text="${order.getShipmentAddress()}">14 rue de la Joconde</td>
                </tr>

                <tr>
                    <td class="orderLabel">Adresse email:</td>
                    <td th:text="${order.getEmail()}">jean@claude.fr</td>
                </tr>

                <tr><td>&nbsp;</td></tr>

                <tr th:if="${#strings.isEmpty(order.getComment()) == false}">
                    <td class="orderLabel">Commentaire:</td>
                    <td th:text="${order.getComment()}">Hey !</td>
                </tr>

                <tr>
                    <td class="orderLabel">Type de paiement:</td>
                    <td>
                        <span th:if="${order.getPaymentType() == T(org.remipassmoilesel.safranlices.entities.PaymentType).BANK_CHECK}">
                            Chèque de banque
                        </span>
                        <span th:if="${order.getPaymentType() == T(org.remipassmoilesel.safranlices.entities.PaymentType).BANK_TRANSFER}">
                            Virement bancaire
                        </span>
                    </td>
                </tr>

                <tr>
                    <td class="orderLabel">Etat de la commande:</td>

                    <td>
                        <span th:classappend="${order.isPaid()} ? orderPaid : orderNonPaid" th:if="${order.isPaid()}">
                        Commande payée
                        </span>
                        <span th:classappend="${order.isPaid()} ? orderPaid : orderNonPaid" th:if="${!order.isPaid()}">
                        Commande non payée
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <span th:classappend="${order.isPaid()} ? orderProcessed : orderNonProcessed"
                              th:if="${order.isProcessed()}">
                        Commande traitée
                        </span>
                        <span th:classappend="${order.isPaid()} ? orderProcessed : orderNonProcessed"
                              th:if="${!order.isProcessed()}">
                        Commande non traitée
                        </span>
                    </td>
                </tr>

                <tr>

                    <td class="orderLabel">Dernière notification d'envoi:</td>
                    <td>
                        <span th:text="${order.getLastShipmentNotification() != null ? #dates.format(order.getLastShipmentNotification(), 'dd/MM/yyyy HH:mm') : 'Aucune notification envoyée'}">
                            24/21/2015
                        </span>
                    </td>
                </tr>

                <tr>
                    <td class="text-right orderButtons" colspan="2">

                        <a th:href="@{${mappings.get('ADMIN_ACTION')}(action='notify', value='true', id=${order.getId()})}"
                           class="btn btn-default" role="button">
                            Envoyer une notification d'envoi</a>

                        &nbsp;
                        &nbsp;

                        <a th:href="@{${mappings.get('ADMIN_ACTION')}(action='paid', value='false', id=${order.getId()})}"
                           th:if="${order.isPaid() == true}"
                           class="btn btn-default" role="button">
                            Marquer comme non-payée</a>
                        <a th:href="@{${mappings.get('ADMIN_ACTION')}(action='paid', value='true', id=${order.getId()})}"
                           th:if="${order.isPaid() == false}" class="btn btn-default" role="button">
                            Marquer comme payée</a>

                        &nbsp;
                        &nbsp;

                        <a th:href="@{${mappings.get('ADMIN_ACTION')}(action='processed', value='false', id=${order.getId()})}"
                           th:if="${order.isProcessed() == true}" class="btn btn-default" role="button">
                            Marquer comme non-traitée</a>
                        <a th:href="@{${mappings.get('ADMIN_ACTION')}(action='processed', value='true', id=${order.getId()})}"
                           th:if="${order.isProcessed() == false}" class="btn btn-default" role="button">
                            Marquer comme traitée</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>