<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="main-decorator">
<head>
    <title>Administration</title>

    <style>
    </style>

</head>
<body>
<div layout:fragment="content">

    <section id="courses" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Admin</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br/>
                        maiores, magni dolorum aliquam.</p>
                    <hr class="bottom-line"/>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 padleft-right">
                    <figure class="imghvr-fade">
                        <img src="img/course01.jpg" class="img-responsive"/>
                        <figcaption>
                            <h3>Lorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum
                                veniam
                                consequatur libero fugiat, similique quis.</p>
                        </figcaption>
                        <a href="#"></a>
                    </figure>
                </div>
                <div class="col-md-6 col-sm-6 padleft-right">
                    <figure class="imghvr-fade">
                        <img src="img/course02.jpg" class="img-responsive"/>
                        <figcaption>
                            <h3>Lorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum
                                veniam consequatur libero fugiat, similique quis.</p>
                        </figcaption>
                        <a href="#"></a>
                    </figure>
                </div>
            </div>
        </div>
    </section>

</div>
</body>
</html>