<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="mainDecorator">
<head>
    <title>Mon panier</title>

    <style type="text/css">
        ul {
            list-style: circle;
        }

        .total{
            font-weight: bolder;
        }

        .buttons{
            text-align: center;
            margin-top: 2em
        }

        .buttons a{
            margin: 1em
        }

    </style>

    <script th:src="@{/js/basket.js}"></script>

</head>
<body>
<div layout:fragment="content">

    <section id="courses" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Mon panier</h2>
                    <p>Sur cette page sont listés les articles que vous souhaitez acheter. <br/>
                        Vous pouvez sélectionner des produits sur <a th:href="@{${mappings.get('ORDER')}}">la page de
                            commande</a>.</p>
                    <hr class="bottom-line"/>
                </div>
            </div>
        </div>

        <div class="container" th:if="${#maps.size(basket) lt 1}">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="subtitle text-center">Votre panier est vide.</div>
                </div>
            </div>
        </div>

        <div class="container" th:if="${#maps.size(basket) ge 1}">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <table class="table">
                        <tr>
                            <th>Article</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Prix</th>
                            <th>&nbsp;</th>
                        </tr>

                        <tr th:each="row : ${basket}">
                            <td th:text="${row.key.getName()}">Nom du produit</td>
                            <td th:text="${row.value}">3</td>
                            <td th:text="${row.key.getPrice() + ' €'}">35.5€</td>
                            <td th:text="${row.key.getPrice() * row.value + ' €'}">135.5€</td>
                            <td><a th:onclick="'App.showEditQuantityDialog(' + ${row.key.getId()} + ',' + ${row.value} + ')'"
                                   style="cursor: pointer"
                                   title="Modifier la quantité d'articles"
                                   class="fa fa-pencil"></a>
                            </td>
                            <td><a th:href="@{${mappings.get('BASKET')}(delete=true, id=${row.key.getId()})}"
                                   title="Supprimer l'article"
                                   class="fa fa-times"></a>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div>Frais supplémentaires:</div>
                    <ul>
                        <li th:each="ex : ${expenses}">
                            <span th:text="${ex.getName()}">Frais de port</span>:
                            <span th:text="${ex.getValue() + ' €'}">15€</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="text-center total">Total: <span th:text="${total + ' €'}"></span></div>
            </div>

            <div class="row">
                <div class="buttons">

                    <a th:href="@{${mappings.get('BASKET') + '?reset=true'}}" class="btn btn-default">
                        Vider mon panier
                    </a>
                    &nbsp;
                    <a th:href="@{${mappings.get('BILLING_FORM')}}" class="btn btn-primary">
                        Paiement sécurisé
                    </a>

                </div>
            </div>
        </div>

    </section>

    <div id="changeQuantityDialog" title="Modifier la quantité d'articles">
        <p>Saisissez la quantité d'articles que vous souhaitez:</p>
        <p><input type="number" id="newQuantityTextField" /></p>
    </div>

</div>

</body>
</html>