<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="main-decorator">
<head>
    <title>Mon panier</title>

    <style>
    </style>
</head>
<body>
<div layout:fragment="content">

    <section id="courses" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Mon panier</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br/>
                        maiores, magni dolorum aliquam.</p>
                    <hr class="bottom-line"/>
                </div>
            </div>
        </div>

        <div class="container" th:if="${#maps.size(basket) lt 1}">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <h3>Votre panier est vide.</h3>
                    <div>Vous pouvez sélectionner des produits sur
                        <a th:href="@{${mappings.get('ORDER')}}">la page de commande</a>.
                    </div>
                </div>
            </div>
        </div>

        <div class="container" th:if="${#maps.size(basket) ge 1}">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <th>Article</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Prix</th>
                        </tr>

                        <tr th:each="row : ${basket}">
                            <td th:text="${row.key.getName()}">Nom du produit</td>
                            <td th:text="${row.value}">3</td>
                            <td th:text="${row.key.getPrice() + ' €'}">35.5€</td>
                            <td th:text="${row.key.getPrice() * row.value + ' €'}">135.5€</td>
                        </tr>

                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-md-offset-3">
                    <a th:href="@{${mappings.get('CHECKOUT')}}" class="btn btn-primary">
                        Payer ma commande
                    </a>
                </div>

                <div class="col-md-2 col-md-offset-1">
                    <a th:href="@{${mappings.get('BASKET') + '?reset=true'}}" class="btn btn-warning">
                        Vider mon panier
                    </a>
                </div>
            </div>
        </div>

    </section>

</div>
</body>
</html>