<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="mainDecorator">
<head>
    <title>Payer mon panier</title>

    <style>

    </style>
</head>
<body>
<div layout:fragment="content">

    <section id="courses" class="section-padding">

        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Redirection</h2>
                    <p>Vous allez être redirigé vers le site de paiment en ligne. Veuillez patienter...</p>
                    <hr class="bottom-line"/>

                    <form class="paypalForm" action="https://www.paypal.com/cgi-bin/webscr" method="post" style="visibility: hidden">
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="business" value="seller@designerfotos.com">
                        <input type="hidden" name="item_name" value="hat">
                        <input type="hidden" name="item_number" value="123">
                        <input type="hidden" name="amount" value="15.00">
                        <input type="hidden" name="first_name" value="John">
                        <input type="hidden" name="last_name" value="Doe">
                        <input type="hidden" name="address1" value="9 Elm Street">
                        <input type="hidden" name="address2" value="Apt 5">
                        <input type="hidden" name="city" value="Berwyn">
                        <input type="hidden" name="state" value="PA">
                        <input type="hidden" name="zip" value="19312">
                        <input type="hidden" name="night_phone_a" value="610">
                        <input type="hidden" name="night_phone_b" value="555">
                        <input type="hidden" name="night_phone_c" value="1234">
                        <input type="hidden" name="email" value="jdoe@zyzzyu.com">
                        <input type="hidden" name="return" th:value="${checkoutConfirmedLink}">
                        <input type="hidden" name="cancel_return" th:value="${checkoutFailedLink}">
                    </form>

                    <div th:if="${devmode eq true}">
                        <br/>
                        <br/>
                        <p>Ces liens n'apparaissent que sur la version d'essai du site.</p>
                        <p><a th:href="${checkoutConfirmedLink}">Simuler un paiement accepté</a></p>
                        <p><a th:href="${checkoutFailedLink}">Simuler un paiement refusé</a></p>
                    </div>

                    <script type="text/javascript">
                        $(function(){
                           setTimeout(function(){
                               $("paypalForm").submit();
                           }, 2000);
                        });
                    </script>
                </div>
            </div>
        </div>

    </section>

</div>
</body>
</html>