<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="mainDecorator">
<head>
    <title>Fin de la commande</title>

    <style>

    </style>
</head>
<body>
<div layout:fragment="content">

    <section id="courses" class="section-padding">

        <div class="row">
            <div class="header-section text-center">
                <h2>Commande enregistrée</h2>

                <p><b>Votre commande a bien été prise en compte.<br/>
                    Elle sera envoyée dès réception de votre paiement. </b></p>

                <p>Une facture va vous être envoyée par mail dans quelques secondes,<br/>
                vous pouvez également la consulter
                    <a th:href="@{${mappings.get('SHOW_BILL')}(id=${billId})}">en cliquant ici</a>.</p>

            </div>
        </div>

        <div class="row checkout-payment-block text-center">

            <div class="col-md-offset-2 col-md-8" th:if="${order.getPaymentType().toString()} eq 'BANK_CHECK'">

                <p>Veuillez libéller votre chèque à l'ordre de:</p>
                <pre>
    Safran des lices - Emmanuel Cossart
    24 Rue des Clauzes
    34570 Murviel-Lès-Montpellier
                </pre>

            </div>

            <div class="col-md-offset-2 col-md-8" th:if="${order.getPaymentType().toString()} eq 'BANK_TRANSFER'">
                <p>Veuillez effectuer un virement bancaire aux coordonnées suivantes: </p>
                <pre>
    Caisse d'Epargne
    RIB bientôt disponible
                </pre>

                <p><b>Montant total à payer: <span th:text="${total}"></span> €</b></p>

                <p><b>Merci, et à très bientôt !</b></p>

            </div>

        </div>

        <hr class="bottom-line"/>

    </section>

</div>
</body>
</html>