<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="mainDecorator">
<head>
    <title>Payer mon panier</title>

    <style type="text/css">
        .paypalForm {
            visibility: hidden;
        }
    </style>
</head>
<body>
<div layout:fragment="content">

    <section id="courses" class="section-padding">

        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Redirection</h2>
                    <p>Vous allez être redirigé vers le site de paiment en ligne. Veuillez patienter...</p>
                    <hr class="bottom-line"/>

                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="paypalForm">
                        <input type="hidden" name="cmd" value="_s-xclick"/>
                        <input type="hidden" name="hosted_button_id" value="28DAU2CSQZAWL"/>
                        <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_buynowCC_LG.gif"
                               border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne"/>
                        <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1"
                             height="1"/>
                        <input type="hidden" name="business" th:value="${mainMailAddress}"/>
                        <input type="hidden" name="amount" th:value="${total}"/>
                        <input type="hidden" name="first_name" th:value="${order.getFirstName()}"/>
                        <input type="hidden" name="last_name" th:value="${order.getLastName()}"/>
                        <input type="hidden" name="address1" th:value="${order.getAddress()}"/>
                        <input type="hidden" name="city" th:value="${order.getCity()}"/>
                        <input type="hidden" name="state" value="France"/>
                        <input type="hidden" name="zip" th:value="${order.getPostalcode()}"/>
                        <input type="hidden" name="email" th:value="${order.getEmail()}"/>
                        <input type="hidden" name="return"
                               th:value="${'http://127.0.0.1:8085/' + checkoutConfirmedLink}"/>
                        <input type="hidden" name="cancel_return"
                               th:value="${'http://127.0.0.1:8085/' + checkoutFailedLink}"/>
                    </form>

                    <div th:if="${devmode eq true}">
                        <br/>
                        <br/>
                        <p>Ces liens n'apparaissent que sur la version d'essai du site.</p>
                        <p><a th:href="${checkoutConfirmedLink}">Simuler un paiement accepté</a></p>
                        <p><a th:href="${checkoutFailedLink}">Simuler un paiement refusé</a></p>
                    </div>

                    <script type="text/javascript">
                        $(function () {
                            setTimeout(function () {
                                $(".paypalForm").submit();
                            }, 2000);
                        });
                    </script>
                </div>
            </div>
        </div>

    </section>

</div>
</body>
</html>