<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="mainDecorator">
<head>

    <title>Payer mon panier</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    
    <style>
        .creditCardTable{
            margin-top: 1em;
            margin: auto
        }
        
        .creditCardTable td{
            text-align: left;
        }
    </style>

</head>
<body>
<div layout:fragment="content">

    <section id="courses" class="section-padding">

        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Paiement en ligne</h2>

                    Le paiement est effectué via une connexion sécurisée. <br/>
                    Le paiement est géré par l'entreprise française <a href="https://www.mangopay.com/fr/about-us/" target="_blank">MangoPay</a>,
                     une filliale du groupe Crédit Mutuel.<br/>

                    <table class="creditCardTable">
                        <tr>
                            <td>Numéro de carte:</td>
                            <td><input id="card_number" value="4970100000000154"/></td>
                        </tr>
                        <tr>
                            <td>Date d'expiration (MMAA):</td>
                            <td><input id="card_expiration_date" value="1020"/></td>
                        </tr>
                        <tr>
                            <td>Code cvx:</td>
                            <td><input id="card_cvx" value="123"/> (optional for Maestro)</td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td colspan="2">
                                <button id="process">Process</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div id="result"></div>
                            </td>
                        </tr>
                    </table>

                    <script type="text/javascript" th:inline="javascript">

                        $(function () {

                            $("#process").click(function () {

                                var resultDiv = document.getElementById("result");
                                resultDiv.innerHTML = "Processing...";
                                resultDiv.style.color = "black";

                                // Card register data prepared on the server
                                var cardRegisterData = {
                                    cardRegistrationURL: /*[[${cardRegistrationUrl}]]*/ null,
                                    preregistrationData: /*[[${preRegistrationData}]]*/ null,
                                    accessKey: /*[[${accessKey}]]*/ null,
                                    Id: /*[[${cardId}]]*/ null
                                };

                                // Card data collected from the user
                                var cardData = {
                                    cardNumber: document.getElementById("card_number").value,
                                    cardExpirationDate: document.getElementById("card_expiration_date").value,
                                    cardCvx: document.getElementById("card_cvx").value,
                                    cardType: /*[[${cardType}]]*/ null
                                };

                                // Set MangoPay API base URL and Client ID
                                mangoPay.cardRegistration.baseURL = /*[[${mongoApiBaseUrl}]]*/ null;
                                mangoPay.cardRegistration.clientId = /*[[${mongoApiClientId}]]*/ null

                                // Initialize the CardRegistration Kit
                                mangoPay.cardRegistration.init(cardRegisterData);

                                // Register card
                                mangoPay.cardRegistration.registerCard(cardData,
                                    function (res) {
                                        var message = 'Card has been succesfully registered under the Card Id ' + res.CardId + '.<br />';
                                        message += 'Card is now ready to use e.g. in a «Direct PayIn» Object.';
                                        resultDiv.innerHTML = message;
                                        resultDiv.style.color = "green";
                                    },
                                    function (res) {
                                        var message = 'Error occured while registering the card.<br />';
                                        message += 'Code: ' + res.ResultCode + ', message: ' + res.ResultMessage;
                                        resultDiv.innerHTML = message;
                                        resultDiv.style.color = "red";
                                    }
                                );
                            });

                        });


                    </script>

                    <script type="text/javascript"
                            th:src="@{bower_components/mangopay-cardregistration-js-kit/kit/mangopay-kit.js}"></script>


                </div>
            </div>
        </div>

    </section>

</div>
</body>
</html>