<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="main-decorator">
<head>
    <title>Payer mon panier</title>

    <script th:src="@{js/checkout.js}"></script>

    <style>

    </style>
</head>
<body>
<div layout:fragment="content">

    <section id="courses" class="section-padding">

        <div class="container" th:if="${paymentType} eq 'CREDIT_CARD'">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Redirection</h2>
                    <p>Vous allez être redirigé vers le site de paiment en ligne. Veuillez patienter...</p>
                    <hr class="bottom-line"/>
                </div>
            </div>
        </div>

        <div class="container" th:if="${paymentType} eq 'PAYPAL'">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Redirection</h2>
                    <p>Vous allez être redirigé vers le site de paiment en ligne. Veuillez patienter...</p>
                    <hr class="bottom-line"/>
                </div>
            </div>
        </div>

        <div class="container" th:if="${paymentType} eq 'BANK_CHECK'">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Commande réussie</h2>
                    <p>Votre commande à bien été prise en compte. Elle sera envoyée dès réception de
                        votre paiement à l'adresse: </p>
                    <p>
                        Safran des lices<br/>
                        3 rue des oieseaux<br/>
                        34000 Murviel-Lès-Montpellier
                    </p>
                    <hr class="bottom-line"/>

                </div>
            </div>
        </div>

    </section>

</div>
</body>
</html>