<!DOCTYPE html>
<html layout:decorator="main-decorator"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Commander</title>

    <style>
    </style>
</head>
<body>
<div layout:fragment="content">

    <section id="work-shop" class="section-padding">
        <div class="container">

            <div class="row">
                <div class="header-section text-center">
                    <h2>Commander en ligne</h2>
                    <p>Faîtes vous livrer nos produits partout en France !</p>
                    <hr class="bottom-line"/>
                </div>
            </div>

            <div class="row" style="margin: 1em;" th:each="row : ${products}">
                <div class="col-md-4 col-sm-6" th:each="p : ${row}">
                    <div class="service-box text-center">
                        <div class="icon-box">
                            <a th:each="imagePath, iter : ${p.getPicturesAsList()}"
                               th:style="'display: ' + ${iter.index == 0 ? 'block' : 'none' } + ';'"
                               th:href="@{${imagePath}}" th:attr="data-lightbox=${p.getId()}">
                                <img th:src="@{${imagePath}}" style="width: 100%;"/>
                            </a>
                        </div>
                        <div class="icon-text">
                            <h4 class="ser-text" th:text="${p.getName()}">Product name</h4>
                            <div th:text="${p.getDescription()}">Product description</div>
                        </div>
                        <div style="margin: 1em;">
                            Quantité:
                            <input type="text" size="2" value="1" th:id="'productQuantity' + ${p.getId()}"/>
                            &nbsp;<a href="#" th:onclick="'addQuantityToBasket(' + ${p.getId()} + ')'">
                            Ajouter au panier
                        </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>
</body>
</html>