<!DOCTYPE html>
<html layout:decorator="mainDecorator"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Commander en ligne</title>

    <style>
        .product input {
            width: 4.5em !important;
            display: inline-block !important;
            margin: 0.5em;
        }

        .product a:nth-child(1) {
            width: 4.5em !important;
            display: inline-block !important;
        }

        .errorArea{
            font-weight: bolder;
            color: darkred;
            font-size: 0.9em;
            height: 3em;
        }

        .icon-text div:nth-child(2){
            font-size: 0.8em;
            width: 80%;
            margin: auto;
        }
    </style>

    <script th:src="@{/js/order.js}"></script>

</head>
<body>
<div layout:fragment="content">

    <section id="work-shop" class="section-padding">
        <div class="container">

            <div class="row">
                <div class="header-section text-center">
                    <h2>Commander en ligne</h2>
                    <p>Faîtes vous livrer nos produits partout en France !</p>
                    <hr class="bottom-line"/>
                </div>
            </div>

            <div class="row" style="margin: 1em;" th:each="row : ${products}">
                <div class="col-md-4 col-sm-6" th:each="p : ${row}">
                    <div class="service-box text-center">

                        <!-- Pictures, some are hidden -->
                        <div class="icon-box">
                            <a th:each="imagePath, iter : ${p.getPicturesAsList()}"
                               th:style="'display: ' + ${iter.index == 0 ? 'block' : 'none' } + ';'"
                               th:href="@{${imagePath}}" th:attr="data-lightbox=${p.getId()}">
                                <img th:src="@{${imagePath}}" style="width: 100%;"/>
                            </a>
                        </div>

                        <!-- Name and description -->
                        <div class="icon-text">
                            <h4 class="ser-text" th:text="${p.getName()}">Product name</h4>
                            <div th:text="${p.getDescription()}">Product description</div>
                            <div th:text="${p.getPrice() + ' €'}">35 €</div>
                        </div>

                        <!-- Add quantity to basket -->
                        <div style="margin: 0.7em;" th:if="${p.getQuantityAvailable() gt 0}" class="product">
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="number" value="1" class="form-control"
                                           th:id="'productQuantity' + ${p.getId()}"/>
                                    &nbsp;
                                    <a class="btn btn-default fa fa-cart-plus add-to-basket"
                                       th:attr="data-max=${p.getQuantityAvailable()}, data-id=${p.getId()}">
                                    </a>
                                </div>
                            </form>

                            <div class="availableQuantity">
                                Quantité disponible:
                                <span th:text="${p.getQuantityAvailable()}"></span>
                            </div>

                            <div class="errorArea" th:id="'errorArea' + ${p.getId()}">
                                &nbsp;
                            </div>

                        </div>

                        <div style="margin: 1em;" th:if="${p.getQuantityAvailable() le 0}">
                            <h3>Produit épuisé</h3>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>

</div>
</body>
</html>