.order {
    margin-top: 1em;
    margin-bottom: 2em;
}

.order ul {
    list-style: circle;
}

.orderHeader {
    padding-top: 1em;
    font-size: 1.2em;
    font-weight: bolder;
    margin-top: 1em;
    margin-bottom: 1em;
}

.order input[type="checkbox"]:checked {
    color: blue;
}

.order input[type="checkbox"]:not(:checked) {
    color: red;
}

.orderTable {
    width: 100%;
}

.orderTable td{
    vertical-align: top;
}

.orderLabel {
    font-weight: bolder;
    font-size: 0.9em;
    color: #484848;
}

.summary ul {
    list-style: circle;
}

.orderPaid {
    color: inherit;
}

.orderNonPaid {
    color: #60071f;
}

.orderProcessed {
    color: inherit;
}

.orderNonProcessed {
    color: #60071f;
}

.orderButtons {
    padding: 0.7em;
}

.productHeader {
    margin: 0.2em;
    font-weight: bolder;
}

.productRow {
    /*border: solid 1px silver;*/
    margin: 0.2em;
}

.productRow input {
    width: 90%;
}

.productRow div {
    padding: 0.7em;
}

.productErrorArea {
    color: #b70000;
    font-weight: bolder;
    padding: 1em;
}

.expenseErrorArea {
    color: #b70000;
    font-weight: bolder;
    padding: 1em;
}

.orderWarn {
    font-weight: bolder;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

h3 {
    margin-top: 3em;
}

.adminOrdersTable{
    width: 70%;
    margin: auto;
}

.adminOrdersTable td{
    padding: 1em;
    text-align: center;
}

.adminOrdersTable thead td{
    font-weight: bolder;
    text-align: center;
}