.order {
    margin-top: 1em;
    margin-bottom: 2em;
}

.order ul {
    list-style: circle;
}

.order input[type="checkbox"]:checked {
    color: blue;
}

.order input[type="checkbox"]:not(:checked) {
    color: red;
}

.orderLabel {
    font-weight: bolder;
    font-size: 0.9em;
    color: #484848;
}

.orderPaid {
    color: inherit;
}

.orderNonPaid {
    color: #60071f;
}

.orderProcessed {
    color: inherit;
}

.orderNonProcessed {
    color: #60071f;
}

.orderButtons {
    padding: 0.7em;
}


h3 {
    margin-top: 3em;
}

.ordersTable{
    width: 80%;
    margin: auto;
}

.ordersTable td{
    padding: 1em;
    text-align: center;
}

.ordersTable thead td{
    font-weight: bolder;
    text-align: center;
}

.orderComplete .orderLabel{
    width: 20%;
    font-weight: bolder;
}

.orderComplete .orderHeader {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.2em;
    font-weight: bolder;
}